@import '../../../../styles/theme.scss';

img {
  width: 25%;
}

h3 {
  color: #fafafa;
}

mat-icon {
  color: #fafafa;
}

.mat-form-field {
  width: 100%;
}
.page-content {
  position: relative;
  bottom: 6.5rem;
}

.links {
  cursor: pointer;
  padding-top: 6px;
  font-size: x-small;

  &.pantry-link {
    color: mat-color(map-get($colorado-care-exchange-theme, accent));
    font-size: larger;
  }
}

mat-error {
  display: block;
  padding-bottom: 10px;
  text-align: center;
}

.links {
  cursor: pointer;
  padding-top: 6px;
  font-size: x-small;
  flex-grow: 1;
  max-width: 100%;
  flex-basis: 0
}


