@import '../../../styles/utilities.scss';
.radioGroup {
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  margin-bottom: 20px;
}

:host {
  p {
    color: grey;
    font-size: .9em;
  }
  h2 {
    margin: 0;
  }
  mat-icon.next {
    color: white;
  }
  mat-icon.arrows { 
    @extend .text-primary;
  }
}
