<section *ngIf="agreement$ | async as agreement" class="section agreement-detail-card" fxLayout="column" fxLayoutAlign="center center">

    <div [ngSwitch]="agreementType">

        <div *ngSwitchCase="'share'">
            <h2>{{ agreement.name }}</h2>

            <h3 class="sub-title status-text" [ngClass]="{ 
                'is-pending': agreement.statusId === 0,
                'is-matched': agreement.statusId === 1,
                'is-confirmed': agreement.statusId === 2,
                'is-fulfilled': agreement.statusId === 3,
                'is-cancelled': agreement.statusId === 4
            }">
                <strong>{{ agreement.statusText }}</strong></h3>

            <p *ngIf="agreement.requesterName" class="name body-copy">You matched with {{ agreement.requesterName }}!</p>

            <p class="body-copy">{{ agreement.dialogMessage }}</p>

            <h3 class="sub-title">{{ agreement.addressLabel }}</h3>
            <p class="body-copy">{{ agreement.deliveryAddress }}</p>


            <div fxLayout="row" fxLayoutAlign="start center">
                <h3>Item Description</h3>
                <button [disabled]="editDescription"
                    *ngIf="agreement.statusId !== 0 && agreement.statusId !== 3 && agreement.statusId !== 4"
                    (click)="editDescription = true;" class="primary" mat-button color="primary">
                    <mat-icon>edit</mat-icon>
                </button>
            </div>
            <div *ngIf="editDescription" fxLayout="row" fxLayoutAlign="center baseline">
                <mat-form-field>
                    <textarea matInput [formControl]="descriptionFC" cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                        cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5">
                    </textarea>
                </mat-form-field>
                <button (click)="onCancelEdit();" class="primary" mat-button>
                    <mat-icon>close</mat-icon>
                </button>
                <button (click)="onSubmitEdit(agreement)" class="primary" mat-button>
                    <mat-icon>done</mat-icon>
                </button>
            </div>
            <p *ngIf="!editDescription">{{ agreement.description ? agreement.description : '--' }}</p>

            <div class="actions" fxLayout="row" fxLayoutAlign="start center">
                <button *ngIf="agreement.statusId !== 4 && agreement.statusId !== 3" mat-button mat-flat-button
                    color="warn" (click)="onCancelMatch(agreement)">Cancel Match</button>
                <button *ngIf="agreement.statusId === 2" mat-button mat-flat-button color="primary" class="btn cce-btn"
                    (click)="onConfirmDropOff(agreement)">Confirm Drop-Off</button>
            </div>
        </div>


        <div *ngSwitchCase="'need'">
            <h2>{{ agreement.name }}</h2>

            <h3 class="sub-title status-text" [ngClass]="{
                'is-pending': agreement.statusId === 0,
                'is-matched': agreement.statusId === 1,
                'is-confirmed': agreement.statusId === 2,
                'is-fulfilled': agreement.statusId === 3,
                'is-cancelled': agreement.statusId === 4
            }">
                <strong>{{ agreement.statusText }}</strong></h3>

            <p *ngIf="agreement.sharerName" class="name body-copy">You matched with {{ agreement.sharerName }}!</p>
            <p class="body-copy">{{ agreement.dialogMessage }}</p>

            <h3 class="sub-title">{{ agreement.addressLabel }}</h3>
            <p class="body-copy">{{ agreement.deliveryAddress }}</p>

            <h3>Item Description</h3>
            <p>{{ agreement.description ? agreement.description : '--' }}</p>
            <div class="actions" fxLayout="row" fxLayoutAlign="start center">
                <button *ngIf="agreement.statusId !== 4 && agreement.statusId !== 3" mat-button mat-flat-button
                    color="warn" (click)="onCancelMatch(agreement)">Cancel Match</button>
            </div>
        </div>
    </div>
</section>

<div class="page-footer mat-elevation-z5" fxLayout="row" fxLayoutAlign="center center">
    <a mat-button class="nav-action btn cce" mat-fab color="primary" routerLink="/dashboard">
        <mat-icon class="cce-white">arrow_back</mat-icon>
    </a>
</div>