<section *ngIf="agreement$ | async as agreement" class="section agreement-detail-card" fxLayout="column" fxLayoutAlign="center center">

    <div [ngSwitch]="agreementType">

        <div *ngSwitchCase="'share'">
            <h2>{{ agreement.name }}</h2>

            <h3 class="sub-title status-text" [ngClass]="{ 
                'is-pending': agreement.status === status.FindingMatch,
                'is-matched': agreement.status === status.NewMatchFound,
                'is-confirmed': agreement.status === status.DeliveryPending,
                'is-fulfilled': agreement.status === status.OrderFulfilled,
                'is-cancelled': agreement.status === status.orderCancelled
            }">
                <strong>{{ agreement.statusDisplay }}</strong></h3>

            <p *ngIf="agreement.requesterName" class="name body-copy">You matched with {{ agreement.requesterName }}!</p>

            <p class="body-copy">{{ agreement.dialogMessage }}</p>

            <h3 class="sub-title">{{ agreement.addressLabel }}</h3>
            <p class="body-copy">{{ agreement.deliveryAddress }}</p>

            <!--  sharer notes. still show requester notes -->
            <div fxLayout="row" fxLayoutAlign="start center">
                <h3>Sharer Notes</h3>
                <button [disabled]="editSharerNote"
                    *ngIf="agreement.status !== status.FindingMatch && agreement.status !== status.Fulfilled && agreement.status !== status.OrderCancelled"
                    (click)="editSharerNote = true;" class="primary" mat-button color="primary">
                    <mat-icon>edit</mat-icon>
                </button>
            </div>
            <div *ngIf="editSharerNote" fxLayout="row" fxLayoutAlign="center baseline">
                <mat-form-field>
                    <textarea matInput [formControl]="sharerNoteFC" cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                        cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5">
                    </textarea>
                </mat-form-field>
                <button (click)="onCancelEdit();" class="primary" mat-button>
                    <mat-icon>close</mat-icon>
                </button>
                <button (click)="onSubmitEdit(agreement)" class="primary" mat-button>
                    <mat-icon>done</mat-icon>
                </button>
            </div>
            <p *ngIf="!editSharerNote">{{ agreement.sharerNotes ? agreement.sharerNotes : '--' }}</p>

            <h3>Requester Notes</h3>
            <p>{{ agreement.requesterNotes ? agreement.requesterNotes : '--' }}</p>

            <div class="actions" fxLayout="row" fxLayoutAlign="start center">
                <button *ngIf="agreement.status !== status.OrderCancelled && agreement.status !== status.OrderFulfilled" mat-button mat-flat-button
                    color="warn" (click)="onCancelMatch(agreement)">Cancel Match</button>
                <button *ngIf="agreement.status === status.NewMatchFound" mat-button mat-flat-button color="primary" class="btn cce-btn"
                    (click)="onConfirmDropOff(agreement)">Confirm Drop-Off</button>
            </div>
        </div>


        <div *ngSwitchCase="'need'">
            <h2>{{ agreement.name }}</h2>

            <h3 class="sub-title status-text" [ngClass]="{
                'is-pending': agreement.status === status.FindingMatch,
                'is-matched': agreement.status === status.NewMatchFound,
                'is-confirmed': agreement.status === status.DeliveryPending,
                'is-fulfilled': agreement.status === status.OrderFulfilled,
                'is-cancelled': agreement.status === status.orderCancelled
            }">
                <strong>{{ agreement.statusDisplay }}</strong></h3>

            <p *ngIf="agreement.sharerName" class="name body-copy">You matched with {{ agreement.sharerName }}!</p>
            <p class="body-copy">{{ agreement.dialogMessage }}</p>

            <h3 class="sub-title">{{ agreement.addressLabel }}</h3>
            <p class="body-copy">{{ agreement.deliveryAddress }}</p>

            <!-- requester notes (still show sharer notes) -->
            <div fxLayout="row" fxLayoutAlign="start center">
                <h3>Requester Notes</h3>
                <button [disabled]="editSharerNote"
                    *ngIf="agreement.status !== status.FindingMatch && agreement.status !== status.Fulfilled && agreement.status !== status.OrderCancelled"
                    (click)="editSharerNote = true;" class="primary" mat-button color="primary">
                    <mat-icon>edit</mat-icon>
                </button>
            </div>
            <div *ngIf="editSharerNote" fxLayout="row" fxLayoutAlign="center baseline">
                <mat-form-field>
                    <textarea matInput [formControl]="sharerNoteFC" cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                        cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5">
                    </textarea>
                </mat-form-field>
                <button (click)="onCancelEdit();" class="primary" mat-button>
                    <mat-icon>close</mat-icon>
                </button>
                <button (click)="onSubmitEdit(agreement)" class="primary" mat-button>
                    <mat-icon>done</mat-icon>
                </button>
            </div>
            <p *ngIf="!editSharerNote">{{ agreement.sharerNotes ? agreement.sharerNotes : '--' }}</p>

            <h3>Sharer Notes</h3>
            <p>{{ agreement.sharerNotes ? agreement.sharerNotes : '--' }}</p>

            <!-- <h3>Item Description</h3>
            <p>{{ agreement.sharerNotes ? agreement.sharerNotes : '--' }}</p> -->
            <div class="actions" fxLayout="row" fxLayoutAlign="start center">
                <button *ngIf="agreement.status !== status.OrderCancelled && agreement.status !== status.OrderFulfilled" mat-button mat-flat-button
                    color="warn" (click)="onCancelMatch(agreement)">Cancel Match</button>
            </div>
        </div>
    </div>
</section>

<div class="page-footer mat-elevation-z5" fxLayout="row" fxLayoutAlign="center center">
    <a mat-button class="nav-action btn cce" mat-fab color="primary" routerLink="/dashboard">
        <mat-icon class="cce-white">arrow_back</mat-icon>
    </a>
</div>