@import '../../../../styles/theme.scss';

.agreement-detail-card {
  color: #919191;

  h2 {
    font-size: 1.5em;
    color: #919191;
  }

  button {
    color: #fafafa;

    mat-icon {
      color: mat-color(map-get($colorado-care-exchange-theme, primary));
    }

    &.primary {
      color: mat-color(map-get($colorado-care-exchange-theme, primary));
    }
  }

  .sub-title {
    font-size: 1.15em;
  }

  .body-copy {
    font-size: .9em;
  }

  .name {
    color: mat-color(map-get($colorado-care-exchange-theme, primary));
  }

  .status-text {
    &.is-pending {
      color: #919191;
    }

    &.is-matched {
      color: #0db536;
    }

    &.is-confirmed {
      color: mat-color(map-get($colorado-care-exchange-theme, accent));
    }

    &.is-fulfilled {
      color: #0db536;
    }

    &.is-cancelled {
      color: mat-color(map-get($colorado-care-exchange-theme, warn));
    }
  }

  .actions {
    > button {
      margin: 1em 1em 0 0;
    }
  }

  .report-issue {
    > button {
      padding-left: 0;
    }
  }
}


.page-footer {
  background-color: #fafafa;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 75px;
  text-align: center;
  z-index: 10000;
}