@import "~@angular/material/theming";

@mixin mat-navbar-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  app-mat-nav {
    .nav-toolbar {
      @include breakpoint(gtTablets) {
        position: sticky;
        top: 0;
        z-index: 1;
      }
    }

    .mat-drawer-container {
      // position: unset;
      overflow: visible;
    }
  }
}
