<mat-sidenav-container class="sidenav-container nav-toolbar mat-elevation-z10">
  <mat-sidenav #drawer *ngIf="isHandset$ | async" class="sidenav" fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">
      <mat-icon (click)="drawer.close()">close</mat-icon>
    </mat-toolbar>
    <!-- Mobile Nav -->
    <mat-nav-list>
      <!-- public -->
      <div *ngIf="this.loggedIn === false">
        <a mat-list-item routerLink="/" (click)="drawer.close()">About</a>
        <a mat-list-item routerLink="/" fragment="how-it-works" (click)="drawer.close()">How It Works</a>
<!--        <a mat-list-item routerLink="/" fragment="pricing" (click)="drawer.close()">Pricing</a>-->
        <a mat-list-item routerLink="/instructors" (click)="drawer.close()">Instructors</a>
        <a mat-list-item routerLink="/signIn/" (click)="drawer.close()">Sign In</a>
        <a mat-list-item routerLink="/contact/" (click)="drawer.close()">Contact Us</a>
      </div>
      <!-- logged in (player) -->
      <div *ngIf="this.loggedIn === true && this.isPlayer">
        <a mat-list-item routerLink="/player/how-to" (click)="drawer.close()">How To</a>
        <a mat-list-item routerLink="/player/uploads" (click)="drawer.close()">Dashboard</a>
        <a mat-list-item (click)="logout(); drawer.close()">Sign Out</a>
      </div>
      <!-- logged in (coach) -->
      <div *ngIf="this.loggedIn === true && this.isCoach">
        <a mat-list-item routerLink="/player/uploads" (click)="drawer.close()">Dashboard</a>
        <a mat-list-item (click)="logout(); drawer.close()">Sign Out</a>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div class="container" *ngIf="isHandset$ | async">
        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      </div>
      <!-- Desktop Nav -->
      <div class="container" *ngIf="!(isHandset$ | async)">
        <nav class="nav">
          <!-- Public -->
          <ul *ngIf="this.loggedIn === false" fxLayout="row" fxLayoutAlign="end center">
            <li class="nav-item"><a routerLink="/">About</a></li>
            <li class="nav-item"><a routerLink="/contact">Contact Us</a></li>
            <li class="nav-item"><a routerLink="/" fragment="how-it-works">How It Works</a></li>
<!--            <li class="nav-item"><a routerLink="/" fragment="pricing">Pricing</a></li>-->
            <li class="nav-item"><a routerLink="/instructors">Instructors</a></li>
            <li class="nav-item"><a routerLink="/signIn/">Sign In</a></li>
          </ul>
          <!-- logged in (player) -->
          <ul *ngIf="this.loggedIn === true && this.isPlayer" fxLayout="row" fxLayoutAlign="end center">
            <li class="nav-item"><a routerLink="/player/how-to">How To</a></li>
            <li class="nav-item"><a routerLink="/player/uploads">Dashboard</a></li>
            <li class="nav-item" (click)="logout()"><a>Sign Out</a></li>
          </ul>
          <!-- logged in (coach) -->
          <ul *ngIf="this.loggedIn === true && this.isCoach" fxLayout="row" fxLayoutAlign="end center">
            <li class="nav-item"><a routerLink="/coach">Dashboard</a></li>
            <li class="nav-item" (click)="logout()"><a>Sign Out</a></li>
          </ul>
        </nav>
      </div>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>
