<div class="footercontainer">
    <div class="footerdiv iconleft" [routerLink]="['/personal-dashboard']"><img class="footerimage" #image src="../../../assets/personal.png"/></div>
    <div class="footerdiv iconmiddle" matBadge="{{messageCount}}" matBadgePosition="after" matBadgeColor="accent"><img class="footerimage" #image src="../../../assets/messages.png"/></div>
    <div class="footerdiv iconright"><img class="footerimage footerimageright" #image src="../../../assets/analytics.png"/></div>
</div>
