<div class="hero">
    <div class="content text-center pagetop">
        <a routerLink="/">
            <img #image src="assets/cce-logo.svg" />
        </a>
        
        <h3 class="sign-in-h3">{{welcomemessageheader}}</h3>
    
        <h2 class="text-center sign-in-h2" [innerHTML]="welcomemessagesub">
            
        </h2>
    </div>
</div>

<div class="tab-container">
    <mat-tab-group mat-align-tabs="center" [(selectedIndex)]="selectedTab" (selectedTabChange)="tabclick($event)">
        <mat-tab label="Log In" class="tabgroupcolor"> 
            <app-sign-in></app-sign-in>
        </mat-tab>
    
        <mat-tab label="Sign Up" class="tabgroupcolor">    
            <app-register></app-register>
        </mat-tab>
    </mat-tab-group>
</div>



<!-- <div class="backgroundcolor"></div> -->
