<section class="section agreement-detail-card" fxLayout="column" fxLayoutAlign="center center">
    <div *ngIf="vm$ | async as vm">
        <div [ngSwitch]="vm.state">

            <div *ngSwitchCase="'loading'">
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </div>

            <div *ngSwitchCase="'done'">
                <div *ngIf="vm.itemDetails; else empty">
                    <h2> {{ vm.itemDetails.name }}</h2>
                    <span class="quantity-prefix">x</span><span>{{ formatItemDetails(vm.itemDetails) }}</span>
                    <h3 class="sub-title status-text" class="is-pending">
                        <strong>{{ vm.itemDetails.statusDisplay }}</strong></h3>

                    <p *ngIf="vm.itemDetails.sharerName" class="name body-copy">You matched with
                        {{ vm.itemDetails.sharerName }}!</p>

                    <p class="body-copy">{{ vm.itemDetails.dialogMessage }}</p>

                    <h3 class="sub-title">{{ vm.itemDetails.addressLabel }}</h3>
                    <p class="body-copy">{{ vm.itemDetails.deliveryAddress ? vm.itemDetails.deliveryAddress : '--' }}
                    </p>

                    <div fxLayout="row">
                        <mat-form-field fxFlex="25%">
                            <mat-label>Quantity</mat-label>
                            <input matInput [formControl]="matchQty" type="number" />
                        </mat-form-field>
                    </div>
                    <div class="actions" fxLayout="row" fxLayoutAlign="start center">
                        <button mat-button mat-flat-button color="primary"
                            (click)="onConfirmMatch(vm.itemDetails, vm.userId, matchQty.value)" [disabled]="!(matchQty.value > 0)">Confirm
                            Match</button>
                    </div>
                </div>
                <ng-template #empty>
                    <div class="empty">
                        Could not find item details...
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
</section>

<div class="page-footer mat-elevation-z5" fxLayout="row" fxLayoutAlign="center center">
    <a mat-button class="nav-action btn cce" mat-fab color="primary" routerLink="/nearby-items">
        <mat-icon class="cce-white">arrow_back</mat-icon>
    </a>
</div>