<div fxLayout="row" fxLayoutAlign="center center">
  <form [formGroup]="individualRegisterForm">
    <div fxLayout="column">
      <mat-form-field class="login-full-width">
        <label>
          <input matInput placeholder="First Name" formControlName="firstName" type="text" />
        </label>
        <mat-error *ngIf="individualRegisterForm.get('firstName').hasError('required')">
          First name is a required field
        </mat-error>
      </mat-form-field>

      <mat-form-field class="login-full-width">
        <label>
          <input matInput placeholder="Last Name" formControlName="lastName" type="text" />
        </label>
        <mat-error *ngIf="individualRegisterForm.get('lastName').hasError('required')">
          Last name is a required field
        </mat-error>
      </mat-form-field>

      <mat-form-field class="login-full-width">
        <label>
          <input matInput placeholder="Email" formControlName="email" type="text" readonly />
        </label>
        <mat-error *ngIf="individualRegisterForm.get('email').hasError('required')">
          Email is a required field
        </mat-error>
      </mat-form-field>

      <mat-form-field class="login-full-width">
        <label>
          <input matInput placeholder="Phone Number" formControlName="phone" type="text" />
        </label>
        <mat-error *ngIf="individualRegisterForm.get('phone').hasError('required')">
          Phone number is a required field
        </mat-error>
      </mat-form-field>

      <!--              <mat-form-field class="login-full-width">-->
      <!--                <input matInput placeholder="Email" formControlName="email" type="text">-->
      <!--                <mat-error *ngIf="registerForm.get('email').hasError('required')">-->
      <!--                  Email is a required field-->
      <!--                </mat-error>-->
      <!--                <mat-error *ngIf="registerForm.get('email').hasError('email')">-->
      <!--                  The email address entered is not valid.-->
      <!--                </mat-error>-->
      <!--              </mat-form-field>-->

      <mat-form-field class="login-full-width">
        <label>
          <input matInput placeholder="Household Size" formControlName="householdSize" type="number" />
        </label>
        <mat-error *ngIf="individualRegisterForm.get('householdSize').hasError('required')">
          Phone number is a required field
        </mat-error>
      </mat-form-field>

      <mat-form-field class="login-full-width">
        <label>
          <input matInput placeholder="City" formControlName="city" type="text" />
        </label>
        <mat-error *ngIf="individualRegisterForm.get('city').hasError('required')">
          City is a required field
        </mat-error>
      </mat-form-field>

      <mat-form-field class="login-full-width">
        <label>
          <input matInput placeholder="State" formControlName="state" type="text" />
        </label>
        <mat-error *ngIf="individualRegisterForm.get('state').hasError('required')">
          State is a required field
        </mat-error>
      </mat-form-field>

      <mat-form-field class="login-full-width">
        <label>
          <input matInput placeholder="Postal Code" formControlName="postalCode" type="text" />
        </label>
        <mat-error *ngIf="individualRegisterForm.get('postalCode').hasError('required')">
          Postal Code is a required field
        </mat-error>
      </mat-form-field>

      <mat-form-field class="login-full-width">
        <label>
          <input matInput placeholder="Delivery or Pickup Location" formControlName="deliveryOrPickupLocation"
            type="text" />
        </label>
        <mat-error *ngIf="individualRegisterForm.get('deliveryOrPickupLocation').hasError('required')">
          Delivery or pickup location is a required field
        </mat-error>
      </mat-form-field>

      <mat-form-field class="login-full-width">
        <mat-label>Delivery or Pickup Radius</mat-label>
        <mat-select formControlName="deliveryOrPickupRadius">
          <mat-option *ngFor="let o of radiusOptions" [value]="o.id">
            {{ o.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="individualRegisterForm.get('deliveryOrPickupLocation').hasError('min')">
          Delivery or pickup radius selection is required
        </mat-error>
      </mat-form-field>

    </div>

    <mat-progress-bar *ngIf="isRegistering" mode="indeterminate" color="accent"></mat-progress-bar>
    <div fxLayout="row" fxLayoutAlign="center center">
      <button mat-fab color="primary" (click)="onRegisterSubmit()" [disabled]="!individualRegisterForm.valid">
        <mat-icon>arrow_forward</mat-icon>
      </button>
    </div>
  </form>
</div>