<div fxLayout="row" fxLayoutAlign="center center">
  <form *ngIf="individualRegisterForm" [formGroup]="individualRegisterForm" novalidate>
    <div fxLayout="column">
      <mat-form-field class="login-full-width">
        <label>
          <input matInput placeholder="First Name" formControlName="firstName" type="text" required />
        </label>
        <mat-error *ngIf="individualRegisterForm.get('firstName').hasError('required')">
          First name is a required field
        </mat-error>
      </mat-form-field>

      <mat-form-field class="login-full-width">
        <label>
          <input matInput placeholder="Last Name" formControlName="lastName" type="text" required />
        </label>
        <mat-error *ngIf="individualRegisterForm.get('lastName').hasError('required')">
          Last name is a required field
        </mat-error>
      </mat-form-field>

      <div *ngIf="userProfile?.organization" class="orgtext">
        <label class="orglabel" (click)="onOrgInfoClick()">
          Organization:<mat-icon class="helpicon">help</mat-icon>
        </label>
        <br>
        <label>
          {{userProfile.organization}}
        </label>
      </div>

      <mat-form-field class="login-full-width">
        <label>
          <input matInput placeholder="Email" formControlName="email" type="text" readonly required />
        </label>
        <mat-error *ngIf="individualRegisterForm.get('email').hasError('required')">
          Email is a required field
        </mat-error>
      </mat-form-field>

      <mat-form-field class="login-full-width">
        <label>
          <input matInput placeholder="Phone Number" formControlName="phone" type="text" required />
        </label>
        <mat-error *ngIf="individualRegisterForm.get('phone').hasError('required')">
          Phone number is a required field
        </mat-error>
      </mat-form-field>

      <mat-form-field *ngIf="!newUser" class="login-full-width">
        <label>
          <input matInput placeholder="Household Size" formControlName="householdSize" type="tel" required />
        </label>
        <mat-error *ngIf="individualRegisterForm.get('householdSize').hasError('required')">
          Phone number is a required field
        </mat-error>
      </mat-form-field>

      <mat-form-field class="login-full-width">
        <label>
          <input matInput placeholder="Address" formControlName="address" type="text" required />
        </label>
        <mat-error *ngIf="individualRegisterForm.get('address').hasError('required')">
          Address is a required field
        </mat-error>
      </mat-form-field>

      <mat-form-field class="login-full-width">
        <label>
          <input matInput placeholder="City" formControlName="city" type="text" required />
        </label>
        <mat-error *ngIf="individualRegisterForm.get('city').hasError('required')">
          City is a required field
        </mat-error>
      </mat-form-field>

      <mat-form-field class="login-full-width">
        <label>
          <input matInput placeholder="State" formControlName="state" type="text" minlength="2" maxlength="2"
            required />
        </label>
        <mat-error
          *ngIf="individualRegisterForm.get('state').hasError('required') || individualRegisterForm.get('state').hasError('minlength')">
          State 2-digit abbreviation is required
        </mat-error>
      </mat-form-field>

      <mat-form-field class="login-full-width">
        <label>
          <input matInput placeholder="Postal Code" formControlName="postalCode" type="text" />
        </label>
        <mat-error *ngIf="individualRegisterForm.get('postalCode').hasError('required')">
          Postal Code is a required field
        </mat-error>
      </mat-form-field>

      <mat-form-field class="login-full-width">
        <label>
          <input matInput placeholder="Delivery or Pickup Radius (in miles, 1 to 50)"
            formControlName="deliveryOrPickupRadius" type="number" required />
        </label>
        <mat-error *ngIf="individualRegisterForm.get('deliveryOrPickupRadius').hasError('min') ||
          individualRegisterForm.get('deliveryOrPickupRadius').hasError('max') ||
          individualRegisterForm.get('deliveryOrPickupRadius').hasError('pattern')">
          Delivery or pickup radius (in miles, 1 to 50, whole number only) is required
        </mat-error>
      </mat-form-field>

      <mat-checkbox class="check-box-mb-20" color="primary" formControlName="sendEmailMatchNotifications">Send me email notifications when I match
      </mat-checkbox>

    </div>

    <mat-progress-bar *ngIf="isRegistering" mode="indeterminate" color="accent"></mat-progress-bar>
    <div fxLayout="row" fxLayoutAlign="center center">
      <button mat-fab color="primary" (click)="onRegisterSubmit()" [disabled]="!individualRegisterForm.valid">
        <mat-icon>arrow_forward</mat-icon>
      </button>
    </div>
  </form>
</div>