@import '../../../styles/theme.scss';

.section {
  > div {
    padding-bottom: 75px;
  }
}

.contentborder {
  border-radius: 4px;
  border: 1px solid #ccc !important;
}

.contentlabel {
  color: #696969;
  font-weight: 600;
  font-size: 1em;
  width: 60%;
}

.contentlabel-detail {
  color: #696969;
  font-weight: 600;
  font-size: 0.8em;
  width: 60%;
}

.content-multiplier {
  color: #696969;
  font-weight: 600;
  font-size: 0.7em;
}

.contentstatusred {
  color: #ff5f57;
  font-weight: 600;
  font-size: 1em;
}

.contentstatusgreen {
  color: #19b08b;
  font-weight: 600;
  font-size: 1em;
}

.contentstatusyellow {
  color: #fa9915;
  font-weight: 600;
  font-size: 1em;
}

.group-header {
  color: #696969;
  font-size: 0.95em;
}

.swipe-container {
  position: relative;
  background-color: #fafafa;
  border-radius: 4px;
}

.swipe-action {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 0;
  color: #fafafa;
  background-color: mat-color(map-get($colorado-care-exchange-theme, warn));
  border-radius: 4px;

  button {
    padding: 16px;
    border: none;
    background-color: unset;
  }

  mat-icon {
    color: #fafafa;
  }
}

.dashboard-list-item {
  cursor: pointer;
  display: block;
  -webkit-tap-highlight-color: transparent;
  width: 100%;
  padding: 10 0 0 0;
}

.row-item {
  margin: 4px 0;
  position: relative;
}

.dashboardlistitem {
  background-color: #fafafa;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 13px 16px 10px 16px;
  position: relative;
  border-radius: 4px;
  z-index: 1;
}

.desktop-delete {
  cursor: pointer;
  position: absolute;
  top: 0;
  height: 100%;
  right: -50px;
  padding: 13px 13px 10px 13px;
  mat-icon {
    color: mat-color(map-get($colorado-care-exchange-theme, warn));
  }
}

.itemborder{
  border-radius: 8px;
  border: 1px solid #ccc!important;
  padding: 5px;
  font-size: .7em;  
  margin: auto;
}

::ng-deep .mat-form-field-underline {
  display: none;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-wrapper {  
  padding-bottom: 0px;
}

.editbutton{
  line-height: 17px;
    padding: 4px 5px 4px 5px;
    min-width: 32px;
    margin-top: 13px;
    color: #ffffff !important;
    font-size: .8em;
}

.donebutton{
  line-height: 17px;
    padding: 4px 5px 4px 5px;
    min-width: 32px;
    margin-top: 13px;
    color: #ffffff !important;
    font-size: .8em;
    background-color: #19b08b;
}

.orgselectwidth{
  width:150px;
}