.dasboardcontent{
    width: 100%;    
}

h2{
    color: #00bcd4;
    font-size: 1em;
}

.contentborder{
    border-radius: 8px;
    border: 1px solid #ccc!important;
}

.contentlabel{
    color: #696969;
    font-weight: 200;
}

.contentstatusred{
    color: #ff4747;
    font-weight: 300;
}

.contentstatusgreen{
    color: #0db536;
    font-weight: 300;
}

.contentstatusyellow{
    color: #f2a50a;
    font-weight: 500;
}

.dashboardlist{
    display: block;
    height: 48px;
    -webkit-tap-highlight-color: transparent;
    width: 100%;
    padding: 10 0 0 0;
    font-size: 16px;
    margin-top: 5px;
}

.dashboardlistitem{    
    margin-top: 13px;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    padding: 0 16px;
    position: relative;
    height: inherit;
}
