<app-site-header></app-site-header>

<section class="section tight">
    <div>
        <div *ngIf="dashboardService.hasNeeds">
            <mat-card-content>
                <h2>Needs</h2>
                <div *ngFor="let request of dashboardService.agreementNeeds | async">
                    <mat-list-item (click)="handleStatusClick(request)" class="contentborder dashboard-list-item">
                        <div class="dashboardlistitem">
                            <mat-label class="contentlabel">{{request.name}}</mat-label>
                            <mat-label [className]="request.styleclass" style="margin-left: auto">{{request.statusText}}
                            </mat-label>
                        </div>
                    </mat-list-item>
                </div>
            </mat-card-content>
        </div>
        <div *ngIf="!dashboardService.hasNeeds">
            <h2>Needs</h2>
            You have not specified any needs.
        </div>
    
        <div *ngIf="dashboardService.hasShares">
            <mat-card-content>
                <h2>Can Give</h2>
                <div *ngFor="let request of dashboardService.agreementShares | async">
                    <mat-list-item (click)="handleStatusClick(request)" class="contentborder dashboard-list-item">
                        <div class="dashboardlistitem">
                            <mat-label class="contentlabel">{{request.name}}</mat-label>
                            <mat-label [className]="request.styleclass" style="margin-left: auto">{{request.statusText}}
                            </mat-label>
                        </div>
                    </mat-list-item>
                </div>
            </mat-card-content>
        </div>
        <div *ngIf="!dashboardService.hasShares">
            <h2>Can Give</h2>
            You have not specified any items to share.
        </div>
    </div>
</section>

<app-site-footer></app-site-footer>