<app-site-header></app-site-header>
<section class="section tight">
  <div *ngIf="vm$ | async as vm; else inprogress">
    <h2>Requests</h2>
    <div *ngIf="!vm.loading; else inprogress">
      <div *ngIf="vm.needs && vm.needs.length > 0; else noneeds">
        <div *ngFor="let request of vm.needs">
          <mat-list-item [routerLink]="['/dashboard-item', 'request', request.itemId]" class="contentborder dashboard-list-item">
            <div class="dashboardlistitem">
              <mat-label class="contentlabel">{{ request.name }}<br>
                <span class="content-multiplier">x</span><span
                  class="contentlabel-detail">{{ formatItemDetails(request) }}</span></mat-label>
              <mat-label [className]="getStyle(request.status)" style="margin-left: auto;">{{ request.statusDisplay }}
              </mat-label>
            </div>
          </mat-list-item>
        </div>
      </div>
    </div>

    <h2>Shares</h2>
    <div *ngIf="!vm.loading; else inprogress">
      <div *ngIf="vm.shares && vm.shares.length > 0; else noshares">
        <div *ngFor="let request of vm.shares">
          <mat-list-item [routerLink]="['/dashboard-item', 'share', request.itemId]" class="contentborder dashboard-list-item">
            <div class="dashboardlistitem">
              <mat-label class="contentlabel">{{ request.name }}<br>
                <span class="content-multiplier">x</span><span
                  class="contentlabel-detail">{{ formatItemDetails(request) }}</span></mat-label>
              <mat-label [className]="getStyle(request.status)" style="margin-left: auto;">{{ request.statusDisplay }}
              </mat-label>
            </div>
          </mat-list-item>
        </div>
      </div>
    </div>

  </div>
</section>

<ng-template #inprogress>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>
<ng-template #noneeds>Waiting for request updates...</ng-template>
<ng-template #noshares>Waiting for share updates...</ng-template>
<app-site-footer></app-site-footer>