@import '../../../../../../styles/theme.scss';

mat-card {
  max-width: 400px;
  margin: 0 auto;
}

img {
  width: 100px;
}

.mainpagetop{
  margin-top: 20px;
}

h2{
  color: #fafafa;
}

h3 {
  color: #fafafa;
  margin: 0px;
}

.tabcontent{
  margin-top: 50px;
}

mat-icon {
  color: #fafafa;
}

a {
  font-weight: lighter;

  &.active {
    font-weight: bolder;
  }
}

.mat-form-field {
  width: 100%;
}
.page-content {
  position: relative;
  bottom: 75px;
}

.links {
  cursor: pointer;
  padding-top: 6px;
  font-size: x-small;

  &.pantry-link {
    color: mat-color(map-get($colorado-care-exchange-theme, accent));
    font-size: larger;
  }
}

mat-error {
  display: block;
  padding: 10px;
  text-align: left;
  background-color: white;
  border: 1px #f5f5f5 solid;
  border-top: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.links {
  cursor: pointer;
  padding-top: 6px;
  font-size: x-small;
  flex-grow: 1;
  max-width: 100%;
  flex-basis: 0
}

.material-icons {
  display: inline-flex;
  vertical-align: middle;
}


