<div fxLayout="row" fxLayoutAlign="center center">
  <form *ngIf="organizationForm" [formGroup]="organizationForm" novalidate>
    <div fxLayout="column">
      <mat-form-field class="login-full-width">
        <label>
          <input matInput placeholder="Organization Name" formControlName="orgName" type="text" readonly />
        </label>
        <mat-error [hidden]="!organizationForm.get('orgName').hasError('required')">
          Organization name is a required field
        </mat-error>
      </mat-form-field>

      <mat-form-field class="login-full-width">
        <label>
          <input matInput placeholder="First Name" formControlName="firstName" type="text" required />
        </label>
        <mat-error [hidden]="!organizationForm.get('firstName').hasError('required')">
          First name is a required field
        </mat-error>
      </mat-form-field>

      <mat-form-field class="login-full-width">
        <label>
          <input matInput placeholder="Last Name" formControlName="lastName" type="text" required />
        </label>
        <mat-error [hidden]="!organizationForm.get('lastName').hasError('required')">
          Last name is a required field
        </mat-error>
      </mat-form-field>

      <mat-form-field class="login-full-width">
        <label>
          <input matInput placeholder="Email" formControlName="email" type="text" readonly required />
        </label>
        <mat-error [hidden]="!organizationForm.get('email').hasError('required')">
          Email is a required field
        </mat-error>
      </mat-form-field>

      <mat-form-field class="login-full-width">
        <label>
          <input matInput placeholder="Phone Number" formControlName="phone" type="text" required />
        </label>
        <mat-error [hidden]="!organizationForm.get('phone').hasError('required')">
          Phone number is a required field
        </mat-error>
      </mat-form-field>

      <mat-form-field class="login-full-width">
        <label>
          <input matInput placeholder="Address" formControlName="address" type="text" required />
        </label>
        <mat-error [hidden]="!organizationForm.get('address').hasError('required')">
          Address is a required field
        </mat-error>
      </mat-form-field>

      <mat-form-field class="login-full-width">
        <label>
          <input matInput placeholder="City" formControlName="city" type="text" required />
        </label>
        <mat-error [hidden]="!organizationForm.get('city').hasError('required')">
          City is a required field
        </mat-error>
      </mat-form-field>

      <mat-form-field class="login-full-width">
        <label>
          <input matInput placeholder="State" formControlName="state" type="text" minlength="2" maxlength="2"
            required />
        </label>
        <mat-error
          *ngIf="organizationForm.get('state').hasError('required') || organizationForm.get('state').hasError('minlength')">
          State 2-digit abbreviation is required
        </mat-error>
      </mat-form-field>

      <mat-form-field class="login-full-width">
        <label>
          <input matInput placeholder="Postal Code" formControlName="postalCode" type="text" required />
        </label>
        <mat-error [hidden]="!organizationForm.get('postalCode').hasError('required')">
          Postal Code is a required field
        </mat-error>
      </mat-form-field>

      <mat-form-field class="login-full-width">
        <label>
          <input matInput placeholder="Delivery or Pickup Radius (in miles, 1 to 50)"
            formControlName="deliveryOrPickupRadius" type="number" required />
        </label>
        <mat-error
          *ngIf="organizationForm.get('deliveryOrPickupRadius').hasError('min') || organizationForm.get('deliveryOrPickupRadius').hasError('max')">
          Delivery or pickup radius (in miles, 1 to 50) is required
        </mat-error>
      </mat-form-field>

    </div>

    <mat-progress-bar [hidden]="!isRegistering" mode="indeterminate" color="accent"></mat-progress-bar>
    <div fxLayout="row" fxLayoutAlign="center center">
      <button mat-fab color="primary" (click)="onRegisterSubmit()" [disabled]="!organizationForm.valid">
        <mat-icon>arrow_forward</mat-icon>
      </button>
    </div>
  </form>
</div>