form {
  width: 100%;
}

mat-icon {
  color: white;
}

.orgtext {
  border-bottom-color: #8c8c8c;
  border-style: solid;
  border-top: none;
  border-right: none;
  border-left: none;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.orglabel {
  font-size: 0.8em;
  color: #8c8c8c;
}

.helpicon {
  color: #cce5ff;
  font-size: 1.1em;
}
