<div class="contentarea">
  <h3>
    If you are signing up an organization for the first time, please email<br />
    <a href="mailto:support@care-exchange.org">support@care-exchange.org</a> <br />with a list of all user emails, or a common email domain
    that everyone on your team will have.
  </h3>

  <h3>This will ensure that your team can track your activity together.</h3>

  <div fxLayout="row" fxLayoutAlign="center center">
    <button mat-button mat-flat-button color="primary" class="btn cce-btn" (click)="onConfirmPickup()">OK</button>
  </div>
</div>
