::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0px;
}

.cameraicon {
  color: lightgrey;
}

.item-request {
  &__photo-actions {
    .mat-icon {
      width: 2rem;
      height: 2rem;
      font-size: 2rem;
    }
  }
}

[data-chat-input] {
  position: relative;
  width: 100%;

  [data-send-btn] {
    position: absolute;
    bottom: 0.5rem;
    right: -0.75rem;

    .send-btn {
      position: static;
      padding: 0;
      width: 2rem;
    }
  }
}
