<div class="vertical-rhythm" fxLayout="row" fxLayoutAlign="center center">
    <div fxLayout="column">
        <h3 class="text-primary center">
            Are there any questions we did not ask for items you need or could have shared?
        </h3>
    </div>
</div>

<div class="vertical-rhythm" fxLayout="row" fxLayoutAlign="center center">
    <div fxLayout="column">
        <h3 class="text-primary center">
            FAQs & How To Information
        </h3>
    </div>
</div>

<div class="vertical-rhythm" fxLayout="row" fxLayoutAlign="center center">
    <div fxLayout="column">
        <h3 class="text-primary center" (click)='openNewTab("https://www.cdc.gov/")'>
            Center for Disease Control
        </h3>
    </div>
</div>

<div class="vertical-rhythm" fxLayout="row" fxLayoutAlign="center center">
    <div fxLayout="column" >
        <h3 class="text-primary center" [routerLink]="['/contributors']">
            Credits
        </h3>
    </div>
</div>

<div fxLayout="row" fxLayoutAlign="center center">
    <button  mat-flat-button color="primary" mat-fab color="primary" (click)="showCredits()">
        <mat-icon class="next">group_work</mat-icon>
    </button>
</div>

<div class="vertical-rhythm" fxLayout="row" fxLayoutAlign="center center">
    <button mat-fab color="primary" [routerLink]="['/account']">
        <mat-icon class="back">arrow_back</mat-icon>
    </button>
</div>
