<div class="vertical-rhythm" fxLayout="row" fxLayoutAlign="center center">
    <div fxLayout="column">
        <h3 class="text-primary center">
            Are there any questions we did not ask for items you need or could have shared?
        </h3>
    </div>
</div>

<div class="vertical-rhythm" fxLayout="row" fxLayoutAlign="center center">
    <div fxLayout="column">
        <h3 class="text-primary center">
            FAQs & How To Information
        </h3>
    </div>
</div>

<div class="vertical-rhythm" fxLayout="row" fxLayoutAlign="center center">
    <div fxLayout="column">
        <h3 class="text-primary center" (click)='openNewTab("https://www.cdc.gov/")'>
            Center for Disease Control
        </h3>
    </div>
</div>

<div class="vertical-rhythm" fxLayout="row" fxLayoutAlign="center center">
    <div fxLayout="column" >
        <h3 class="text-primary center" (click)='openNewTab("https://www.unitedway.org/")'>
            United Way
        </h3>
    </div>
</div>