
p {
    text-transform: capitalize;
}

.close {
    top: 4px;
    position: absolute;
    right: 4px;
  }

.section {
    height: 100%;
}

.scroll-container {
    overflow: hidden;
    position: absolute;
    top: 100%;
    left: 55%;
    width: 350px;
    margin-left: -200px;
    text-align: center;
    text-transform: uppercase;
    color: #919191;
    animation: 50s credits linear infinite;
}

.contributor-group {
  margin-bottom: 50px;
  font-size: 50px;
}

@keyframes credits {
  0% {
    top: 800%;
  }
  100% {
    top: -1285%;
  }
}