<section class="section" fxLayout="column" fxLayoutAlign="center center">
    <div class="close numberCircle" (click)="backToAccount()">X</div>
    <div class="scroll-container">
        <div>
            <h3 class="text-primary">Developers</h3>
            <p>Josh Blair</p>
            <p>Jason Brandt</p>
            <p>John McGuin</p>
            <p>Doug Nehring</p>
            <p>John Noone</p>
        </div>
        
        <div>
            <h3 class="text-primary">Quality Assurance</h3>
            <p>Zach Lenart</p>
        </div>
        
        <div>
            <h3 class="text-primary">Subject Matter Experts</h3>
            <p>Kent Glassman</p>
            <p>Tommy Crosby - Metro Caring</p>
            <p>Jason Harrison - Hunger Free Colorado</p>
        </div>
        
        <div>
            <h3 class="text-primary">Care Exchange Board</h3>
            <p>Executive Director - Jamie Kimes</p>
            <p>Secretary - Doug Chapiewsky</p>
            <p>Treasurer - Jennifer Wageman</p>
        </div>

        <div>
            <h3 class="text-primary">Kanso Software</h3>
            <p>CTO - Anthony Kilhoffer</p>
            <p>COO - Scott Fredericksen</p>
            <p>Product Manager - Haile Kilhoffer</p>
        </div>
    </div>
</section>
