
p {
    text-transform: capitalize;
}

.close {
    top: 4px;
    position: absolute;
    right: 4px;
  }

.numberCircle {
    border-radius: 50%;
    width: 14px;
    height: 14px;
    padding: 4px;
    cursor: pointer;
    background: #fff;
    border: 2px solid #666;
    color: #666;
    text-align: center;
  
    font: 14px Arial, sans-serif;
}

.section {
    height: 100%;
}

.scroll-container {
    overflow: hidden;
    position: absolute;
    top: 100%;
    left: 55%;
    width: 350px;
    margin-left: -200px;
    text-align: center;
    text-transform: uppercase;
    color: #919191;
    animation: 50s credits linear infinite;
}

.contributor-group {
  margin-bottom: 50px;
  font-size: 50px;
}

@keyframes credits {
  0% {
    top: 800%;
  }
  100% {
    top: -1285%;
  }
}