@import '../../styles/utilities.scss';

:host {

    mat-icon.add {
        color: white;
        margin-bottom: 2px;
    }
    
    mat-icon.add { 
        @extend .text-primary;
    }

    .center-text {
        text-align: center;
    }

    .mt-20 {
        margin-top: 1.45rem;
    }
    .headerlayout{
        display:inline-block;
        width: 45px;
        vertical-align: middle;
    }

    .headerimage{
        width: 60%; 
    }

    .headerclose{
        float: right;
        color: #919191;
    }
}

