// this is for shared components
@import './theme.scss';
.hero {
  height: 100vh;
  overflow: hidden;
  position: relative;

  &-inner {
    @include breakpoint(gtHandset) {
      width: 45vw;
    }
    h1 {
      text-transform: uppercase;
      font-size: 1.8rem;
    }
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(
      0deg,
      rgba(0,0,0,.8) 0%,
      rgba(0,0,0,.8) 100%
    );
  }

  .cta-button {
    min-width: 200px;
    margin-top: 0.5rem;
  }
}

.section {
  padding: 2rem;

  &.has-angle {
    &:not(.light-theme) {
      @include sloped(mat-color(map-get($colorado-care-exchange-theme, primary)));
    }
    &.light-theme {
      @include sloped(mat-color(map-get($colorado-care-exchange-theme, primary)));
    }
  }
}

.responsive-table {

  .mat-table {
    overflow: auto;
  }

  .mobile-label {
    visibility: hidden;
    display: none;
  }

  @include breakpoint(ltTablets) {
    td.mat-cell {
      padding: 1rem !important;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }

    .mat-cell {
      display: block;
      border-bottom: none;
      &:before {
        content: attr(data-label);
        float: left;
        text-transform: uppercase;
        font-weight: normal;
        font-size: .85rem;
        display: block;
        flex-basis: 25%;
        padding-right: 1rem;
      }
    }

    .mobile-label {
      font-weight: bold;
      padding-right: 1rem;
      visibility: visible;
      display: inline-block;
      width: 30%;
    }

    .mat-header-row {
      display: none;
    }

    .mat-row {
      // display: block;
      padding: 1rem 1.25rem;
      border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    }
  }
}

.table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;

  &.cta-rows {
    tbody tr:hover {
      background-color: lighten(mat-color($primary), 10%);
    }
  }
}

.cta-button {
  width: auto;
  max-width: 400px;
  padding: 1rem 1.5rem;
  margin-bottom: 16px;
  text-transform: uppercase;
  font-size: 1rem;
}
