// this is for shared components
@import './theme.scss';
.hero {
  //height: 50vh;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .cta {
    color: #fafafa;

    a {
      padding: 2rem;
    }
  }

  // &-inner {
  //   @include breakpoint(gtHandset) {
  //     width: 45vw;
  //   }
  //   h1 {
  //     text-transform: uppercase;
  //     font-size: 1.8rem;
  //   }
  // }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: mat-color(map-get($colorado-care-exchange-theme, primary));
  }
}

.section {
  padding: 3rem 1.5rem 1.5rem 1.5rem;
  max-width: 1024px;
  margin: auto;

  &.tight {
    padding: 1.5rem;
  }
}

.btn {
  &.cce {
    color: #fafafa;
  }
}
