// bare element styles only. No classes here.
@import './theme.scss';

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  zoom: 1;
}

body {
  font-size: 16px;
  line-height: 1.45;
  min-height: 100%;
  height: auto;
}

body {
  margin: 0;
  font-family: mat-font-family($font-config);
}

h1, h2, h3, h4, h5, h6 {
  font-family: mat-font-family($font-config);
}

h2 {
  color: mat-color(map-get($colorado-care-exchange-theme, primary));
  font-size: 1em;
}


a {
  text-decoration: none;
  color: unset;
}