.vertical-rhythm {
  margin-top: 1.45rem;
  &-two {
    margin-top: calc(2 * 1.45rem);
  }
  &-three {
    margin-top: calc(3 * 1.45rem);
  }
  &-four {
    margin-top: calc(4 * 1.45rem);
  }
  &-five {
    margin-top: calc(5 * 1.45rem);
  }
}
