@import '../styles/theme.scss';

mat-icon {
  &.cce-white {
    color: #fafafa;
  }

  &.cce-blue {
    color: mat-color(map-get($colorado-care-exchange-theme, primary));
  }
}

.prompt {
  .mat-radio-button {
    padding: 0 1em;
  }
}

.mat-flat-button.mat-primary,
.mat-raised-button.mat-primary,
.mat-fab.mat-primary,
.mat-mini-fab.mat-primary {
  color: #fafafa;
}

.tab-container {
  .mat-tab-header {
    border-bottom: 0;
  }

  .mat-tab-header-pagination {
    display: none;
  }
}
