@import "~@angular/material/theming";
@import "../styles/tools.scss";
@import "../app/auth/components/login-shell/login-shell-theme";
@include mat-core();

$colorado-care-exchange-typography: mat-typography-config(
  $font-family: "Roboto, sans-serif"
);
@include mat-core($colorado-care-exchange-typography);
$font-config: mat-typography-config();

@mixin custom-components-theme($theme) {
  @include login-shell-theme($theme);
}

$primary: mat-palette($mat-light-blue, 400);
$accent: mat-palette($mat-orange, 400);
$warn: mat-palette($mat-red);
$colorado-care-exchange-theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($colorado-care-exchange-theme);
@include custom-components-theme($colorado-care-exchange-theme);
