// globally used mixins and functions. No actual CSS.
/*
Usage Notes
.some-class {
	width: 100%;
		@include breakpoint(handset) {
		width: 50%;
	}
	@include breakpoint(tablets) {
		width: 25%;
	}
}
*/
@mixin breakpoint($point) {
  @if $point == handset {
    @media screen and (max-width: 599px) {
      @content;
    }
  } @else if $point == tablets {
    @media screena and (min-width: 600px) and (max-width: 959px) {
      @content;
    }
  } @else if $point == md {
    @media screen and (min-width: 960px) and (max-width: 1279px) {
      @content;
    }
  } @else if $point == lrg {
    @media screen and (min-width: 1280px) and (max-width: 1919px) {
      @content;
    }
  } @else if $point == xlrg {
    @media screen and (min-width: 1920px) and (max-width: 5000px) {
      @content;
    }
  } @else if $point == gtTablets {
    @media screen and (min-width: 600px) {
      @content;
    }
  } @else if $point == ltTablets {
    @media screen and (max-width: 599px) {
      @content;
    }
  } @else if $point == gtHandset {
    @media screen and (min-width: 599px) {
      @content;
    }
  }
}

@mixin mat-icon-size($size) {
  font-size: $size;
  height: $size;
  width: $size;
  line-height: $size;
}

@mixin vertical-rhythm($size) {
  margin-top: calc(#{$size} * 1.45rem);
}

@mixin sloped($color) {
  position: relative;

  &:after {
    content: "";
    position: absolute;
    border: 0 solid transparent;
    transform: rotate(360deg);
    right: 0;
    bottom: -1.25rem;
    border-left-width: 50vw;
    border-right-width: 50vw;
    border-left-color: $color;
    border-right-color: $color;
    border-bottom-width: 1.25rem;
  }
}
