@import './theme.scss';
.container {
  flex-grow: 1;
  margin: 0 auto;
  position: relative;
  width: auto;
}

.text {
  &-center {
    text-align: center;
  }
  &-primary {
    color: mat-color(map-get($colorado-care-exchange-theme, primary));
  }
  &-accent {
    color: mat-color(map-get($colorado-care-exchange-theme, accent));
  }
  &-uppercase {
    text-transform: uppercase;
  }
  &-white {
    color: white !important;
  }
}
.w {
  &-100 {
    width: 100%;
  }
}
