<mat-card class="box">
    <mat-card-header>
      <div fxLayout="column">        
        <mat-card-title>Change Password</mat-card-title>
      </div>
    </mat-card-header>

    <form [formGroup]="pwChangeForm" class="login-form" (ngSubmit)="pwChangeForm.valid && onSubmit()">

        <mat-card-content>   
            <mat-form-field class="login-full-width">
                <input matInput placeholder="Current Password" formControlName="currentPassword" type="password">
            </mat-form-field>

            <mat-form-field class="login-full-width">
                <input matInput placeholder="New Password" formControlName="newPassword" type="password">
            </mat-form-field>
            
            <mat-form-field class="login-full-width">
                <input matInput placeholder="Confirm New Password" formControlName="confirmNewPassword" type="password">
            </mat-form-field>          

            <!-- <mat-error class="error-message" *ngIf="error===true">
                <div *ngIf="errorMessage">
                    {{errorMessage}}
                </div>            
            </mat-error>             -->
    
            <div>Password Requirements:</div>

            <div class="validation-block error-buffer"
                [ngClass]="controls.newPassword.hasError('required') || controls.newPassword.hasError('minlength')  ? 'validation-error' : 'validation-success'">
                <i class="material-icons">{{ controls.newPassword.hasError('required') || controls.newPassword.hasError('minlength') ? 'cancel' : 'check_circle' }}</i>
                At least 8 characters!
            </div>
            <div class="validation-block"
                [ngClass]="controls.newPassword.hasError('required') || controls.newPassword.hasError('hasNumber')  ? 'validation-error' : 'validation-success'">
                <i class="material-icons">{{ controls.newPassword.hasError('required') || controls.newPassword.hasError('hasNumber') ? 'cancel' : 'check_circle' }}</i>
                At least 1 Number!
            </div>
            <div class="validation-block"
                [ngClass]="controls.newPassword.hasError('required') || controls.newPassword.hasError('hasCapitalCase')  ? 'validation-error' : 'validation-success'">
                <i class="material-icons">{{ controls.newPassword.hasError('required') || controls.newPassword.hasError('hasCapitalCase') ? 'cancel' : 'check_circle' }}</i>
                At least 1 Capital letter!
            </div>
            <div class="validation-block"
                [ngClass]="controls.newPassword.hasError('required') || controls.newPassword.hasError('hasSmallCase')  ? 'validation-error' : 'validation-success'">
                <i class="material-icons">{{ controls.newPassword.hasError('required') || controls.newPassword.hasError('hasSmallCase') ? 'cancel' : 'check_circle' }}</i>
                At least 1 Lower case letter!
            </div>
            <div class="validation-block"
                [ngClass]="controls.newPassword.hasError('required') || controls.newPassword.hasError('hasSpecialCharacters') ? 'validation-error' : 'validation-success'">
                <i class="material-icons">{{ controls.newPassword.hasError('required') || controls.newPassword.hasError('hasSpecialCharacters') ? 'cancel' : 'check_circle' }}</i>
                At least 1 Special Character!
            </div>
            <div class="validation-block"
                *ngIf="controls.confirmNewPassword.value?.length || controls.confirmNewPassword.hasError('NoPasswordMatch')"
                [ngClass]="controls.confirmNewPassword.hasError('NoPasswordMatch') ? 'validation-error' : 'validation-success'">
                <i class="material-icons">{{ controls.newPassword.hasError('NoPasswordMatch') ? 'cancel' : 'check_circle' }}</i>
                Passwords must match!
            </div>
            
            <div class="vertical-rhythm-two" fxLayout="row" fxLayoutAlign="space-between center center">
                <button mat-fab color="primary" (click)="onCancelClick()">Cancel</button>
                <button [disabled]="!pwChangeForm.valid" mat-fab color="primary">Submit</button>
            </div>
        </mat-card-content>
    </form>
</mat-card>