<div class="headeralign">
    <div class="headerlayout"><img class="headerimage" #image src="../../assets/analytics.png" /></div>
    <div class="headerlayout headerclose" (click)="close()"><mat-icon>cancel</mat-icon></div>
</div>

<div class="vertical-rhythm" fxLayout="column" fxLayoutAlign="start center">
    <div fxLayout="column" fxLayoutAlign="start center">
        <h3 class="text-primary">
            Received
        </h3>
    </div>
    <div id="chartReceived"></div>
</div>

<div class="vertical-rhythm" fxLayout="column" fxLayoutAlign="start center">
    <div fxLayout="column" fxLayoutAlign="start center">
        <h3 class="text-primary">
            Shared
        </h3>
    </div>
    <div id="chartShared"></div>
</div>