.radioGroup {
  display:block;
  margin-left: auto;
  margin-right: auto;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

img {
  width: 100px;
}

h3{
  margin: 0px;
}

.container{
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}