<section class="section">
  <div class="container">
    <div fxLayout="row" fxLayoutAlign="center center">
      <img src="../../assets/cce-logo.png" />
    </div>
    <div class="vertical-rhythm" fxLayout="column" fxLayoutAlign="center center">
      <div fxLayout="column">
        <h3 class="text-primary text-center">
          We just need a little bit more<br />
          information...
        </h3>
        <!--    <mat-radio-group class="radioGroup" aria-label="Select an option" [(ngModel)]="registrantType">-->
        <!--      <mat-radio-button value="Individual">Individual</mat-radio-button>-->
        <!--      <mat-radio-button value="Organization">Organization</mat-radio-button>-->
        <!--    </mat-radio-group>-->
      </div>

      <div *ngIf="registrantType === 'Individual'" class="w-100 vertical-rhythm">
        <app-individual [email]="email" [lastName]="lastName" [firstName]="firstName" (infoSubmit)="onInfoSubmit($event)"></app-individual>
      </div>

      <div *ngIf="registrantType === 'Organization'" class="w-100 vertical-rhythm">
        <app-organization
          [email]="email"
          [lastName]="lastName"
          [firstName]="firstName"
          [organizationName]="organizationName"
          [organizationId]="organizationId"
          [isRegistering]="isRegistering"
          (infoSubmit)="onInfoSubmit($event)"
        ></app-organization>
      </div>
    </div>
  </div>
</section>
