<section class="section">
    <div *ngIf="!showConfirm">
        <div *ngFor="let question of prompts" class="prompt">
            <h2 class="category-head text-center">{{question.display}}</h2>


            <div fxLayout="row" fxLayoutAlign="space-around center">
                <div fxLayout="column">
                    <h3>Requesting</h3>
                    <div fxLayout="row" fxLayoutAlign="center center">
                        <h2 class="counter">{{question.requesting}}</h2>
                        <div>
                            <div>
                                <mat-icon (click)="handleRequesting(question, 'up')" class="cce-blue">expand_less
                                </mat-icon>
                            </div>
                            <div>
                                <mat-icon (click)="handleRequesting(question, 'down')" class="cce-blue">expand_more
                                </mat-icon>
                            </div>
                        </div>
                    </div>
                </div>

                <div fxLayout="column">
                    <h3>Sharing</h3>
                    <div fxLayout="row" fxLayoutAlign="center center">
                        <h2 class="counter">{{question.sharing}}</h2>
                        <div>
                            <div>
                                <mat-icon (click)="handleSharing(question, 'up')" class="cce-blue">expand_less</mat-icon>
                            </div>
                            <div>
                                <mat-icon (click)="handleSharing(question, 'down')" class="cce-blue">expand_more
                                </mat-icon>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="radio-group-container" fxLayout="row" fxLayoutAlign="center center">
                <mat-radio-group aria-label="Select an option" [(ngModel)]="question.unitsOfIssue">
                    <mat-radio-button class="btn radio-group" *ngFor="let unit of question.unitsOfIssueChoices"
                        [value]="unit">{{unit}}</mat-radio-button>
                </mat-radio-group>
            </div>

        </div>

        <div class="page-footer mat-elevation-z5" fxLayout="row" fxLayoutAlign="center center">
            <button mat-fab color="primary" (click)="onSubmit()">
                <mat-icon class="cce-white">arrow_forward</mat-icon>
            </button>
        </div>

    </div>

    <div *ngIf="showConfirm">

        <h2 *ngIf="requests.length || shares.length" class="text-center confirmation-header">
            Based upon your answers it looks like you are...
        </h2>

        <div *ngIf="!showConfirmBtn" >
            <h2 class="text-center confirmation-header">You have chosen no shares or needs. Please return and select an item.</h2>
        </div>

        <div *ngIf="requests.length > 0" >
            <mat-card class="confirmation-box mat-elevation-z5">
                <h3>Requesting</h3>
                <div fxLayout="row" fxLayoutAlign="space-between center" *ngFor="let request of requests; let i = index;">                    
                    <p><strong>{{ request.groupName }}</strong></p>                    
                    <p>{{ request.requesting }} count</p>
                </div>
            </mat-card>
        </div>

        <div *ngIf="shares.length > 0" >
            <mat-card class="confirmation-box mat-elevation-z5">
                <h3>Sharing</h3>
                <div fxLayout="row" fxLayoutAlign="space-between center" *ngFor="let share of shares; let i = index;">                    
                    <p><strong>{{ share.groupName }}</strong></p>                   
                    <p>{{ share.sharing }} count</p>
                </div>
            </mat-card>
        </div>


        <div class="page-footer mat-elevation-z5" fxLayout="row" fxLayoutAlign="center center">
            <button class="nav-action btn cce" mat-fab color="primary" (click)="onChangeAnswers()">
                <mat-icon class="cce-white">arrow_back</mat-icon>
            </button>
    
            <button class="nav-action btn cce" mat-fab  color="primary" *ngIf="showConfirmBtn" (click)="onConfirm()">
                <mat-icon class="cce-white">arrow_forward</mat-icon>
            </button>
        </div>
    </div>
</section>