@import '../../../styles/utilities.scss';

:host {
  color: #919191;
}

mat-icon.next {
    color: #fafafa;
}

mat-icon.arrows { 
    @extend .text-primary;
}

.prompt {
  margin-bottom: 4rem;
}

.radio-group-container {
  margin-top: 1.5rem;
}

.btn {
  &.radio-group {
    padding: 0 1rem;
  }
}

.counter {
  font-size: 2rem;
}

// .btnBack{
//     position:relative;
//     bottom:5px;
//     color:#ffffff;
// }

// .btnNext{
//     position:relative;
//     bottom:12px;
//     color:#ffffff;
// }