@import '../../../styles/utilities.scss';

mat-icon.next {
    color: white;
}

mat-icon.arrows { 
    @extend .text-primary;
}

.pagecontent{
    width: 100%;
    text-align: center;
}

.contentborder{
    border-radius: 8px;
    border: 1px solid #ccc!important;
}

.questionarea{
    margin-bottom: 20px;
}