h3 {
  font-size: 1.25em;
  color: #919191;
  margin: 0px 0px 10px 0px;
}

.buttonConfirm {
  color: #fafafa;
  margin-right: 1em;
  float: right;
  background-color: yellowgreen;
}

.buttonCancel {
  color: #fafafa;
  margin-right: 1em;
}