<div>
    <h3>
        Confirm Match for...
    </h3>

    <div>
        <strong>Pickup at address</strong> <button mat-button mat-flat-button  class="buttonConfirm cce-btn" (click)="onConfirmPickup()">Pickup</button>
        <p>{{ data.deliveryAddress }}</p>
        <!-- <p>{{ data.pickupAddress }}</p> -->
    </div>

    <hr>

    <div>
        <strong>Deliver to address</strong> <button mat-button mat-flat-button  class="buttonConfirm cce-btn" (click)="onConfirmPickup()">Deliver</button>
        <p>{{ data.deliveryAddress }}</p>
    </div> 
    
    <div>
        <button mat-button mat-flat-button color="primary" class="buttonCancel cce-btn" (click)="dialogRef.close();">Cancel</button>
    </div>
</div>