<div *ngIf="vm$ | async as vm">
  <div [ngSwitch]="vm.state">
    <!-- loader -->
    <div *ngSwitchCase="'loading'">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
    <!-- loaded -->
    <div *ngSwitchCase="'done'">
      <div *ngIf="vm.requests && vm.requests.length; else empty">
        <div *ngFor="let request of vm.requests" class="nearby-list-item" fxLayout="row" fxLayoutAlign="space-between center">

          <div fxLayout="row">
            <div class="name">{{ request.name }} </div>
            <div class="multiplier"><span>x</span><span>{{ request.quantity }}</span></div>
          </div>
          <!-- <div><i>Created On</i></div> -->
        </div>
      </div>
      <ng-template #empty>No nearby requests at this time...</ng-template>
    </div>
  </div>
</div>