img {
  width: 20%;
  min-width: 100px;
  height: auto;
}

.menu {
  .menu-item {
    font-weight: 600;
    font-size: 18px;
    text-align: left;
    text-transform: uppercase;
    margin: 10px;
  }
}

.menu-items {
  min-height: 1210px;
  width: 220px;
}

.content {
  width: 100%;
}
