a {
  &.logo {
    text-align: center;
  }
}

img {
    width: 100px; 
    cursor: pointer;
}

.logout {
    color: #919191;
    font-size: .7em;
    font-weight: 600;
    text-align: right;
    cursor: pointer;
}
