.headerlayout{
    
    display:inline-block;
    width: 50px;
    vertical-align: top;
}

.headeralign{
    text-align:center;
}

.headerimage{
    width: 120%; 
    cursor: pointer;
}

.headerlogout{
    float: right;
    padding-top: 20px;
    color: #919191;
    font-size: .7em;
    font-weight: 600;
    cursor: pointer;
}