@import '../../../styles/utilities.scss';
@import '../../../styles/theme.scss';

:host {
  color: #919191;
}

.prompt {
  margin-bottom: 4rem;
}

.radio-group-container {
  margin-top: 1.5rem;
}

.btn {
  &.radio-group {
    padding: 0 1rem;
  }
}

.counter {
  font-size: 2rem;
}

.category-head {
  color: #919191;
  font-size: 1.35rem;
}

.page-footer {
  background-color: #fafafa;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 75px;
  text-align: center;
  z-index: 10000;
}

.confirmation-header {
  font-size: 1.5rem;
}

.confirmation-box {
  margin-bottom: 1rem;
  color: mat-color(map-get($colorado-care-exchange-theme, primary));

  h3 {
    color: #919191;
    font-size: 1.5rem;
  }
}

.nav-action {
  margin: 0 1em;
}
 
.itemborder{
  border-radius: 8px;
  border: 1px solid #ccc!important;
  padding: 5px;
  width: 200px;
  margin: auto;
}

::ng-deep .mat-select-value{  
  color: #919191!important;  
  font-weight: 600;
}

::ng-deep .mat-option{
  color: #919191!important; 
  font-weight: 600;
}

h3 {
  color: #919191!important; 
}

::ng-deep .mat-select-panel {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%; 
}

.numinput{
  color: #29b6f6;
  font-size: 2rem;
  background-color: #fafafa!important;
  width:80px;
}