@import '../../../styles/utilities.scss';
@import '../../../styles/theme.scss';

mat-form-field {
  width: 100%;
}

:host {
  color: #919191;
}

.questionsection{
  margin-bottom: 100px;
  max-width: 400px;
  overflow-y: scroll;
}

.prompt {
  border-bottom: 2px solid #f2f2f2;
  padding: 2em 0;
}

.btn {
  &.radio-group {
    padding: 0 1rem;
  }
}

.counter {
  font-size: 2rem;
}

.category-head {
  color: #919191;
  font-size: 1.35rem;
}

// .radio-group-container {
//   padding: 2em 0 0 0;
// }

.page-footer {
  background-color: #fafafa;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 75px;
  text-align: center;
  z-index: 10000;
}

.confirmation-header {
  font-size: 1.5rem;
}

.confirmation-box {
  margin-bottom: 1rem;
  color: mat-color(map-get($colorado-care-exchange-theme, primary));

  h3 {
    color: #919191;
    font-size: 1.5rem;
  }
}

.nav-action {
  margin: 0 1em;
}
 
.itemborder{
  border-radius: 8px;
  border: 1px solid #ccc!important;
  padding: 5px;
  width: 200px;
  margin: auto;
}

.selectpad{
  margin-top: 5px;
}

::ng-deep .mat-select-value{  
  color: #919191!important;  
  font-weight: 600;
}

::ng-deep .mat-option{
  color: #919191!important; 
  font-weight: 600;
}

h4 {
  color: #919191; 
  margin:0px;  
}

.sharinglabel{
  padding-left: 20px;
}

.requestinglabel{
  padding-left: 10px;
}

h3 {
  color: #919191 !important; 
  margin:0px;
  font-size: 1.1em;
}

h2 {
  color: #29b6f6 !important; 
  margin:0px;
}

.leavequestionspage{
  top: 4px;
  position: absolute;
  right: 4px;
  color: #666;
}

// ::ng-deep .mat-select-panel {
//   position: fixed;
//   bottom: 0;
//   left: 0;
//   width: 100%; 
// }

.numinput{
  color: #29b6f6;
  font-size: 2rem;
  background-color: #fafafa !important;
  width:80px;
  text-align:center;
}

.cardsizeleft{
  width: 60%;
}

.cardsizeright{
  width:30%;
}

.itemremovedicon{
  display:inline;  
  color: red;
}

.itemnotremovedicon{
  display:inline;
  color: #29b6f6;
}

.removeicon{
  vertical-align: bottom;
  margin-right: 30px;
  float:right;
}

.removeiconmulti{
  vertical-align: bottom;
  //float:right;
  margin-left: 5px;
}

.itemremoved{
  display:inline;
  color: lightgrey;
}

.itemnotremoved{
  display:inline;
  color: #919191;
}

.selectborder{border-radius: 8px;
  border: 1px solid #ccc!important;  
  width: 200px;
  margin-left: 40px;
}

.multiitemtext{
  display: inline;
  //padding-left: 30px;
}

.singleitemtext{
  display: inline;
  padding-left: 20px;
}

.grouparea{
  margin-bottom: 20px;
  text-align: center;
}

.groupareamulti{
  margin-bottom: 20px;
  text-align: center;
}