    <div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
      <mat-card class="box">
        <mat-card-header>
          <div fxLayout="column">
            <a routerLink="/">
              <img style="width: 50%; margin: auto" #image
                 src="../../../assets/cce-logo.svg"/>
            </a>
            <mat-card-title>Password Reset</mat-card-title>
          </div>

        </mat-card-header>


        <form [formGroup]="forgotPwFormGroup" class="login-form" (ngSubmit)="forgotPwFormGroup.valid && onSubmit()">
          <mat-card-content>

            <div *ngIf="passwordResponse && passwordResponse==='OK'">
              <p class="message">
                You will receive an email shortly to reset your password.
              </p>
              <button mat-stroked-button color="accent" class="btn-block"  routerLink="/signIn">Return to Login</button>
            </div>

            <div *ngIf="!passwordResponse || passwordResponse!=='OK'">
              <mat-form-field class="login-full-width">
                <input matInput placeholder="Enter your email address" formControlName="email" type="text" (keypress)="resetError()">
                <mat-error *ngIf="forgotPwFormGroup.get('email').hasError('email')">
                  The email address entered is not valid.
                </mat-error>
              </mat-form-field>
              <mat-error *ngIf="this.error===true">
                User not found for the given email address. Please check the email address and try again.
              </mat-error>
              <button mat-stroked-button color="accent" class="btn-block" type="submit">Submit</button>
            </div>
          </mat-card-content>
        </form>

      </mat-card>
    </div>
