h2{
    color: #00bcd4;
    font-size: 1em;
}

.contentborder{
    border-radius: 8px;
    border: 1px solid #ccc!important;
}

.contentlabel{
    color: #696969;
    font-weight: 200;
}

.contentstatuscancelled{
    color: #ff4747;
    font-weight: 300;
}

.contentstatusonway{
    color: #0db536;
    font-weight: 300;
}

.contentstatuspending{
    color: #f2a50a;
    font-weight: 500;
}