<div class="vertical-rhythm" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="12px">
    <mat-card>

        <mat-card-header>
            Based upon your answers it looks like you are...
        </mat-card-header>

        <mat-card *ngIf="requests.length > 0">
            <mat-card-content>
                <h2>Requesting</h2>
                <mat-list>
                    <mat-list-item *ngFor="let request of requests" (click)="handleStatusClick(request)">
                            <mat-label>{{request.name}}</mat-label>
                            <mat-label style="margin-left: auto">{{request.status}}</mat-label>
                    </mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>

        <mat-card *ngIf="shares.length > 0">
            <mat-card-content>
                <h2>Sharing</h2>
                <mat-list>
                    <mat-list-item *ngFor="let share of shares" (click)="handleStatusClick(share)">
                        <mat-label>{{share.name}}</mat-label>
                        <mat-label style="margin-left: auto">{{share.status}}</mat-label>
                    </mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>
    </mat-card>

</div>
