<section class="section agreement-detail-card">

    <div [ngSwitch]="userId">

        <!-- User is Requesting -->
        <div *ngSwitchCase="answer.requestId">
            <h2>{{ answer.name }}</h2>

            <h3 class="sub-title status-text" [ngClass]="{ 'is-finding': answer.statusId === 1}">
                <strong>{{ answer.statusText }}</strong></h3>

            <p class="body-copy">DATE HERE</p>
            <p class="body-copy">{{ answer.statusText }}</p>

            <h3 class="sub-title">Pick-Up Address</h3>
            <p class="body-copy">{{ answer.deliveryAddress }}</p>

            <h3 class="sub-title">Expiration: <span>{{ answer.expiration }}</span></h3>

            <h3>Item Description Here</h3>
            <p class="body-copy">{{ answer.description }}</p>

            <div class="report-issue" fxLayout="row" fxLayoutAlign="start center">
                <button mat-button color="warn" (click)="onReportIssue()">Report an issue</button>
            </div>
            <div class="actions" fxLayout="row" fxLayoutAlign="start center">
                <button mat-button mat-flat-button color="warn" (click)="onCancelMatch()">Cancel Match</button>
                <button mat-button mat-flat-button color="primary" class="btn cce-btn"
                    (click)="onConfirmPickup()">Confirm Pick-Up</button>
            </div>
        </div>


        <!-- User is Sharing -->
        <div *ngSwitchCase="answer.shareId">
            <h2>{{ answer.name }}</h2>

            <h3 class="sub-title status-text" [ngClass]="{ 'is-finding': answer.statusId === 1}">
                <strong>{{ answer.statusText }}</strong></h3>

            <p class="body-copy">DATE HERE</p>
            <p class="body-copy">{{ answer.statusText }}</p>

            <h3 class="sub-title">Pick-Up Address</h3>
            <p class="body-copy">{{ answer.deliveryAddress }}</p>

            <h3 class="sub-title">Expiration: <span>{{ answer.expiration }}</span></h3>

            <div fxLayout="row" fxLayoutAlign="start center">
                <h3>Item Description Here</h3>
                <button [disabled]="editDescription" (click)="editDescription = true;" class="primary" mat-button color="primary">
                    <mat-icon>edit</mat-icon>
                </button>
            </div>
            <div *ngIf="editDescription" fxLayout="row" fxLayoutAlign="center baseline">
                <mat-form-field>
                    <textarea matInput [formControl]="descriptionFC" cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                        cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5">
                    </textarea>
                </mat-form-field>
                <button (click)="onCancelEdit();" class="primary" mat-button>
                    <mat-icon>close</mat-icon>
                </button>
                <button (click)="onSubmitEdit()" class="primary" mat-button>
                    <mat-icon>done</mat-icon>
                </button>
            </div>
            <p class="body-copy">{{ answer.description }}</p>

            <div class="report-issue" fxLayout="row" fxLayoutAlign="start center">
                <button mat-button color="warn" (click)="onReportIssue()">Report an issue</button>
            </div>
            <div class="actions" fxLayout="row" fxLayoutAlign="start center">
                <button mat-button mat-flat-button color="warn" (click)="onCancelMatch()">Cancel Match</button>
                <button mat-button mat-flat-button color="primary" class="btn cce-btn"
                    (click)="onConfirmPickup()">Confirm Pick-Up</button>
            </div>
        </div>
    </div>
</section>

<!-- Navigation Back -->
<div class="page-footer mat-elevation-z5" fxLayout="row" fxLayoutAlign="center center">
    <a mat-button class="nav-action btn cce" mat-fab color="primary" routerLink="/dashboard">
        <mat-icon class="cce-white">arrow_back</mat-icon>
    </a>
</div>