<section class="section">
    <!-- Probably use ngSwitch based on a sharer or requester -->
    <h2>{{ answer.name }}</h2>

    <p><strong>{{ answer.statusText }}</strong></p>

    <p>{{ answer. }}</p>
    <p>Description of the status</p>

    <h3>Item Description</h3>
    <p>Some description of the item</p>

    <div fxLayout="column" fxLayoutAlign="start start">
        <button mat-button color="warn" (click)="onReportIssue()">Report an issue</button>
        <button mat-button mat-flat-button color="warn" (click)="onCancelMatch()">Cancel Match</button>
    </div>
</section>

<div class="page-footer mat-elevation-z5" fxLayout="row" fxLayoutAlign="center center">
    <a mat-button class="nav-action btn cce" mat-fab color="primary" routerLink="/dashboard">
        <mat-icon class="cce-white">arrow_back</mat-icon>
    </a>
</div>