<section class="section">
  <div class="container">
    <div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

      <mat-card class="box">
        <mat-card-header>
          <div fxLayout="column">
            <a routerLink="/">
              <img style="width: 50%; margin: auto" #image
                src="../../../assets/cce-logo.svg"/>
            </a>
            <mat-card-title>Password Reset</mat-card-title>
          </div>

        </mat-card-header>

        <form [formGroup]="pwResetForm" class="login-form" (ngSubmit)="pwResetForm.valid && onLoginSubmit()">


          <mat-card-content>

            <div *ngIf="success===null">
              <mat-form-field class="login-full-width">
                <input matInput placeholder="Password" formControlName="password" type="password">
                <mat-error *ngIf="password.errors?.minlength || password.errors?.maxlength">
                  Password must be between 6 and 30 characters long.
                </mat-error>
              </mat-form-field>

              <mat-form-field class="login-full-width">
                <input matInput placeholder="Confirm password" formControlName="passwordConfirm" type="password">
                <mat-error *ngIf="passwordConfirm.errors?.minlength || passwordConfirm.errors?.maxlength">
                  Password must be between 6 and 30 characters long.
                </mat-error>
              </mat-form-field>
              <mat-error *ngIf="pwResetForm.hasError('notSame')">
                Passwords do not match
              </mat-error>

              <mat-form-field class="login-full-width">
                <input matInput placeholder="Reset code" formControlName="resetCode" type="text" maxlength="50" required>
                <mat-error *ngIf="resetCode.errors?.required">
                  Reset code is required.
                </mat-error>
              </mat-form-field>

              <button mat-stroked-button color="accent" class="btn-block" type="submit">Submit</button>
            </div>

            <div *ngIf="success !== null && success===true">
              <p class="message">
                Your password has been reset successfully.
              </p>
              <button mat-stroked-button color="accent" class="btn-block"  routerLink="/signIn">Return to Login</button>
            </div>
          </mat-card-content>


        </form>
      </mat-card>
    </div>
  </div>
</section>
