<section class="section">
  <div class="container">
    <div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

      <mat-card class="box">
        <mat-card-header>
          <div fxLayout="column">
            <a routerLink="/">
              <img style="width: 50%; margin: auto" #image src="../../../assets/cce-logo.svg" />
            </a>
            <mat-card-title>Password Reset</mat-card-title>
          </div>

        </mat-card-header>

        <form [formGroup]="pwResetForm" class="login-form" (ngSubmit)="pwResetForm.valid && onLoginSubmit()">


          <mat-card-content>

            <div *ngIf="success===null">
              <mat-form-field class="login-full-width">
                <input matInput placeholder="Password" formControlName="password" type="password">

                <div class="validation-block error-buffer"
                  [ngClass]="pwResetForm.controls['password'].hasError('required') || pwResetForm.controls['password'].hasError('minlength')  ? 'validation-error' : 'validation-success'">
                  <i class="material-icons">{{ pwResetForm.controls['password'].hasError('required') ||
                pwResetForm.controls['password'].hasError('minlength') ? 'cancel' :
                'check_circle' }}</i>
                  Must be at least 8 characters!
                </div>
                <div class="validation-block"
                  [ngClass]="pwResetForm.controls['password'].hasError('required') || pwResetForm.controls['password'].hasError('hasNumber')  ? 'validation-error' : 'validation-success'">
                  <i class="material-icons">{{ pwResetForm.controls['password'].hasError('required') ||
                pwResetForm.controls['password'].hasError('hasNumber') ? 'cancel' :
                'check_circle' }}</i>
                  Must contain at least 1 number!
                </div>
                <div class="validation-block"
                  [ngClass]="pwResetForm.controls['password'].hasError('required') || pwResetForm.controls['password'].hasError('hasCapitalCase')  ? 'validation-error' : 'validation-success'">
                  <i class="material-icons">{{ pwResetForm.controls['password'].hasError('required') ||
                pwResetForm.controls['password'].hasError('hasCapitalCase') ? 'cancel' :
                'check_circle' }}</i>
                  Must contain at least 1 in Capital Case!
                </div>
                <div class="validation-block"
                  [ngClass]="pwResetForm.controls['password'].hasError('required') || pwResetForm.controls['password'].hasError('hasSmallCase')  ? 'validation-error' : 'validation-success'">
                  <i class="material-icons">{{ pwResetForm.controls['password'].hasError('required') ||
                pwResetForm.controls['password'].hasError('hasSmallCase') ? 'cancel' :
                'check_circle' }}</i>
                  Must contain at least 1 Letter in Small Case!
                </div>
                <div class="validation-block"
                  [ngClass]="pwResetForm.controls['password'].hasError('required') || pwResetForm.controls['password'].hasError('hasSpecialCharacters') ? 'validation-error' : 'validation-success'">
                  <i class="material-icons">{{ pwResetForm.controls['password'].hasError('required') ||
                pwResetForm.controls['password'].hasError('hasSpecialCharacters') ? 'cancel' :
                'check_circle' }}</i>
                  Must contain at least 1 Special Character!
                </div>

              </mat-form-field>

              <div class="form-group">
                <mat-form-field class="login-full-width">
                  <input matInput placeholder="Confirm Password" formControlName="confirmPassword" type="password">
                </mat-form-field>
                <div class="validation-error" *ngIf="pwResetForm.controls['confirmPassword'].hasError('required')">
                  Password is Required!
                </div>
                <div class="validation-error" *ngIf="pwResetForm.controls['confirmPassword'].hasError('NoPasswordMatch')">
                  Password do not match
                </div>
              </div>

              <mat-error class="error-message" *ngIf="error===true">
                <div *ngIf="errorMessage">
                  {{errorMessage}}
                </div>
                <div *ngIf="!errorMessage">
                  Invalid username or password
                </div>
              </mat-error>

              <mat-form-field class="login-full-width">
                <input matInput placeholder="Reset code" formControlName="resetCode" type="text" maxlength="50"
                  required>
                <mat-error *ngIf="resetCode.errors?.required">
                  Reset code is required.
                </mat-error>
              </mat-form-field>

              <button mat-stroked-button color="accent" class="btn-block" type="submit">Submit</button>
            </div>

            <div *ngIf="success !== null && success===true">
              <p class="message">
                Your password has been reset successfully.
              </p>
              <button mat-stroked-button color="accent" class="btn-block" routerLink="/signIn">Return to Login</button>
            </div>
          </mat-card-content>


        </form>
      </mat-card>
    </div>
  </div>
</section>