<div class="hero">
  <div class="content text-center">
    <a routerLink="/">
      <img #image src="../../../assets/cce-logo.svg" />
    </a>
    <h3 class="text-center">
      Welcome back.<br>
      Let's do some good today!
    </h3>
    <div class="cta w-100 active" fxLayout="row" fxLayoutAlign="center center">
      <!-- <a routerLink="/">
        Login
      </a> -->
      <a routerLink="/register">
        Sign Up
      </a>
    </div>
  </div>
</div>

<section class="section">
  <div class="page-content">
    <mat-card class="mat-elevation-z10">
      <form [formGroup]="loginForm" class="login-form" (ngSubmit)="onLoginSubmit()">
        <!-- <mat-form-field class="full-width">
          <mat-select placeholder="Organization" formControlName="organization">
            <mat-option>--</mat-option>
            <mat-option *ngFor="let organization of organizations" [value]="organization">
              {{organization.name}}
            </mat-option>
          </mat-select>
        </mat-form-field> -->
        <mat-card-content>
          <mat-form-field class="login-full-width">
            <input matInput placeholder="Username" formControlName="username" type="text" required>
          </mat-form-field>

          <mat-form-field class="login-full-width">
            <input matInput placeholder="Password" formControlName="password" type="password" required>
          </mat-form-field>
        </mat-card-content>

        <mat-error class="error-message" *ngIf="error===true">
          <div *ngIf="errorMessage">
            {{errorMessage}}
          </div>
          <div *ngIf="!errorMessage">
            Invalid username or password
          </div>
        </mat-error>

        <mat-progress-bar *ngIf="signingIn" mode="indeterminate" color="accent"></mat-progress-bar>

        <div fxLayout="row" fxLayoutAlign="end center">
          <a class="links" (click)="handleForgotPW()">Forgot your password?</a>
        </div>

        <input type="submit" id="hidden-form-submit" style="display: none;">
      </form>
    </mat-card>

    <div class="vertical-rhythm-two" fxLayout="row" fxLayoutAlign="center center">
      <button mat-fab color="primary" (click)="onLoginSubmit()">
        <mat-icon>arrow_forward</mat-icon>
      </button>
    </div>

    <div class="vertical-rhythm-two text-center">
      <a class="links pantry-link" (click)="handlePantry()">Food Pantries Near Me</a>
    </div>
    
    <p class=" vertical-rhythm-two text-primary text-center">
      Simplifying things that matter for <br>people who care.
    </p>

  </div>

</section>