@import '../../../../styles/theme.scss';

img {
  width: 100px;
}

h2 {
  &.sign-in-h2 {
    color: #fafafa;
  }
}

h3 {
  &.sign-in-h3 {
    color: #fafafa;
    margin: 0px;
  }
}

.signuplink{
  color: #29b6f6;
  cursor: pointer;
  padding-top: 6px;
  font-size: .8em;
}

.mainpagetop{
  margin-top: 20px;
}

.cardalign{
  margin-top: 20px;
}

.resetpasswordalign{
  margin-left: auto;
}

mat-icon {
  color: #fafafa;
}

mat-card {
  max-width: 420px;
  margin: auto;
}

a {
  font-weight: lighter;

  &.active {
    font-weight: bolder;
  }
}

.mat-form-field {
  width: 100%;
}
.page-content {
  position: relative;
  bottom: 75px;
}

mat-card {
  max-width: 400px;
  margin: 0 auto;
}

.mat-card-header {
  justify-content: center;
  align-items: center;
}

.login-wrapper .login-form {
  min-width: 100%;
  max-width: 300px;
  width: 100%;
}

.login-wrapper .login-full-width, .login-wrapper .btn-block {
  width: 100%;
}

button.btn-block {
  color: white;
}

.login-wrapper mat-card-header {
  text-align: center;
  width: 100%;
  display: block;
  font-weight: 700;
}

.login-wrapper mat-card-header mat-card-title {
  font-size: 30px;
  margin: 0;
}

.login-wrapper .mat-form-field-appearance-legacy .mat-form-field-infix {
  padding: 0.8375em 0;
}

mat-error {
  display: block;
  padding-bottom: 10px;
  text-align: center;
}

.links {
  cursor: pointer;
  padding-top: 6px;
  font-size: x-small;
}

.pantry-link {
  color: mat-color(map-get($colorado-care-exchange-theme, accent));
  font-size: larger;
}
