<section class="section tabcontent">
  <mat-card class="mat-elevation-z10 cardalign">
    <form [formGroup]="loginForm" class="login-form" (ngSubmit)="onLoginSubmit()">

      <mat-card-content>
        <mat-form-field class="login-full-width">
          <input matInput placeholder="Username" formControlName="username" type="text" required>
        </mat-form-field>

        <mat-form-field class="login-full-width">
          <input matInput placeholder="Password" formControlName="password" type="password" required>
        </mat-form-field>
      </mat-card-content>

      <mat-error class="error-message" *ngIf="error===true">
        <div *ngIf="errorMessage">
          {{errorMessage}}
        </div>
        <div *ngIf="!errorMessage">
          Invalid username or password
        </div>
      </mat-error>

      <mat-progress-bar *ngIf="signingIn" mode="indeterminate" color="accent"></mat-progress-bar>


      <div fxLayout="row" fxLayoutAlign="start center">

      </div>
      <div fxLayout="row">
        <a class="links resetpasswordalign" (click)="handleForgotPW()">Forgot your password?</a>
      </div>

      <input type="submit" id="hidden-form-submit" style="display: none;">
    </form>
  </mat-card>

  <div class="vertical-rhythm" fxLayout="row" fxLayoutAlign="center center">
    <button mat-fab color="primary" (click)="onLoginSubmit()">
      <mat-icon>arrow_forward</mat-icon>
    </button>
  </div>

  <div class="vertical-rhythm text-center">
    <a class="links pantry-link" (click)="handlePantry()">Food Pantries Near Me</a>
  </div>

  <p class=" vertical-rhythm text-primary text-center">
    Simplifying things that matter for <br>people who care.
  </p>


</section>