<app-site-header></app-site-header>

<div class="dashboard-container">
    <div>
        <h2 class="app-blue">
            Updates on requests or shares?<br>
            Start a new questionnaire.
        </h2>
    </div>

    <div>
        <button mat-flat-button color="primary" mat-fab color="primary" (click)="add()">
            <mat-icon class="next">add</mat-icon>
        </button>
    </div>

    <div>
        <h2 class="app-blue">
            Edit your information.
        </h2>
    </div>

    <div>
        <button mat-flat-button color="primary" mat-fab color="primary" (click)="edit()">
            <mat-icon class="next">edit</mat-icon>
        </button>
    </div>

    <div>
        <h2 class="app-blue">
            Resources
        </h2>
    </div>

    <div>
        <button mat-flat-button color="primary" mat-fab color="primary" (click)="resource()">
            <mat-icon class="next">help</mat-icon>
        </button>
    </div>

    <div>
        <h2 class="app-blue">
            Contributors
        </h2>
    </div>

    <div fxLayout="row" fxLayoutAlign="center center">
        <button mat-flat-button color="primary" mat-fab color="primary" (click)="showContributors()">
            <mat-icon class="next">group_work</mat-icon>
        </button>
    </div>
    
</div>

<app-site-footer></app-site-footer>