<div class="vertical-rhythm" fxLayout="row" fxLayoutAlign="center start" style="margin-top: 0;">
    <div fxLayout="column">
        <h3 class="text-primary center" style="margin-top: 0;">
            Based upon your location,<br>
            Here are food pantry's near you.
        </h3>
    </div>
</div>

<div class="vertical-rhythm" fxLayout="column" fxLayoutAlign="center center">
    <div fxLayout="column">
        <iframe
            class="e2e-iframe-trusted-src"
            [src]="getSelectedMapUrl()">
            width="350" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
            tabindex="0">
        </iframe>
    </div>
</div>

<div class="vertical-rhythm" fxLayout="row" fxLayoutAlign="center center">
    <div class="fb-container">
        <ul class="food-banks">
            <li *ngFor="let fb of foodBanks; let i = index;" (click)="selectLocation(i)" [ngClass]="{'highlight': selectedIndex === i}">
                <div class="name">{{fb.name}}</div>
                <div class="address">{{fb.address}}</div>
                <div class="notes">{{fb.notes}}</div>
            </li>
        </ul>
    </div>
</div>

<div class="vertical-rhythm" fxLayout="row" fxLayoutAlign="center center">
    <button mat-fab color="primary" (click)="back()">
        <mat-icon class="back">arrow_back</mat-icon>
    </button>
</div>