<div class="vertical-rhythm" fxLayout="column" fxLayoutAlign="center center">
    <div fxLayout="column">
        <h3 class="text-primary center">
            Based upon your location,<br>
            Here are food pantry's near you.
        </h3>
    </div>
</div>




<div class="vertical-rhythm" fxLayout="row" fxLayoutAlign="center center">
    <ul class="food-banks">
        <li *ngFor="let fb of foodBanks">
            <div class="name">{{fb.name}}</div>
            <div class="address">{{fb.address}}</div>
            <div class="notes">{{fb.notes}}</div>
        </li>
    </ul>
</div>

<div class="vertical-rhythm" fxLayout="row" fxLayoutAlign="center center">
    <button mat-fab color="primary" (click)="onSubmit()" [disabled]="(requesting === 0 && sharing ===0)">
        <mat-icon class="back">arrow_back</mat-icon>
    </button>
</div>