<div class="statuscontentarea">
    <h2 class="text-primary">{{message}}</h2>

    <div *ngIf="showMap">
        <img class="statusimage" #image src="../../assets/map.png"/>
        <h2 class="text-primary">{{data.address}}</h2>
    </div>    
</div>

<div class="dialog-actions">
    <button mat-button mat-flat-button color="primary" (click)="confirm()">{{okButtonText}}</button>
    <button mat-button mat-flat-button color="primary" *ngIf="showNoButton"  (click)="no()">No</button>
    <button mat-button mat-flat-button color="primary" *ngIf="showCancelButton" (click)="cancel()">Cancel</button>
</div>
