.statuscontentarea {
  text-align: center;
}

.statusimage {
  width: 50%;
  margin: auto;
}

.dialog-actions {
  display: flex;
  justify-content: center;
  align-items: center;

  button {
    margin: 0 1rem;
  }
}
