.iconcolor {
  color: black;
}

.iconretakepic {
  margin-right: auto;
}

.accepticon {
  color: green;
  margin-left: auto;
}

.imagebox {
  border-radius: 10px;
}

.imagearea {
  background-color: lightgrey;
  border-radius: 10px;
  margin: 0 auto;
  width: 100%;

  [data-picture-actions] {
    padding: 0.5rem;
    button {
      &:disabled {
        opacity: 0.25;
      }
    }
    .mat-icon {
      font-size: 50px;
      width: auto;
      height: auto;
    }

    [data-upload-photo] {
      margin-right: 0.5rem;
    }

    input[type='file'] {
      width: 0;
      overflow: hidden;
    }
  }
}

.videoarea {
  padding: 0.5rem;
  img,
  video {
    width: 100%;
    height: auto;
  }
}
