.iconcolor{
    color:black;
    font-size: 50px;
}

.iconretakepic{
    margin-left: 10px;
}

.icontakepic{
    margin-left: 90px;
}

.accepticon{
    color:green;
    margin-left: 130px;
    font-size: 50px;
}

.imagebox{
    margin-left: 13px;
    border-radius: 10px;
}

.imagearea{
    background-color: lightgrey;
    border-radius: 10px;
    margin-left: 50px;
    margin-right: 50px;
}

.videoarea{
    padding-top: 10px;
}