<app-site-header></app-site-header>

<section class="section tight">
    <mat-tab-group mat-align-tabs="center">
        <mat-tab label="Nearby Requests">
            <ng-template matTabContent>
                <nearby-requests></nearby-requests>
            </ng-template>
        </mat-tab>
        <mat-tab label="Nearby Shares">
            <ng-template matTabContent>
                <nearby-shares></nearby-shares>
            </ng-template>
        </mat-tab>
    </mat-tab-group>
</section>

<app-site-footer></app-site-footer>