@import '../../styles/theme.scss';

.settings {
  margin-bottom: 200px;
  padding: 1rem 2rem;
  max-width: 32rem;
  margin: 0 auto;

  mat-icon {
    color: gray;
    width: 2rem;
    height: 2rem;
  }

  &__header {
    margin-bottom: 2rem;
  }

  &__toggle {
    margin-bottom: 1rem;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
